main {  
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 500px;
}
.todo-list {
    display: inline-block;
    margin-top: 8px;
    border-bottom: 1px solid  #dbdbdb;
    
    padding: 3px;
    width: 300px;
    height: 20px;
}
.done-list {
    text-decoration: line-through;
    border-bottom: 1px solid black;
    
}